html, body {
  height: 100%;
  overflow-y: overlay;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  margin: 0px;
  padding: 0px;
  background: #FFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
  font-weight: 300;
  color: #000000;
}


h1, h2, h3 {
  margin: 1em 0 0 0;
  padding: 0;
  color: #8dc63f;
}

p, ol, ul {
  margin-bottom: 0;
}

ol, ul {
  padding: 0;
  list-style: none;
}

p {
  line-height: 180%;
}

strong {
  color: #8dc63f;
}

a {
  color: #8dc63f;
}

a:hover {
  text-decoration: none;
}

.container {
  overflow: hidden;
  margin: 0em auto;
  width: 100%;
}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

.image {
  display: inline-block;
}

.image img {
  display: block;
  width: 100%;
}

.image-full {
  display: block;
  width: 100%;
  margin: 0;
}

.image-left {
  clear: left;
  float: left;
  margin: 0 2em 1em 0;
}

.image-right {
  clear: right;
  float: right;
  margin: 0 0 1em 2em;
}

.image-centered {
  display: block;
  margin: 0 0 2em 0;
}

.image-centered img {
  margin: 0 auto;
  width: auto;
}

.image-small {
  width: 70px;
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

ul.style1 {
}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

ul.contact {
  margin: 0;
  padding: 2em 0em 0em 0em;
  list-style: none;
}

ul.contact li {
  display: inline-block;
  padding: 0em 0.30em;
  font-size: 1em;
}

ul.contact li span {
  display: none;
  margin: 0;
  padding: 0;
}

ul.contact li a {
  color: #FFF;
}

ul.contact li a:before {
  display: inline-block;
  background: #3f3f3f;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
  color: #FFFFFF;
}

ul.contact li a.icon-twitter:before { background: #2DAAE4; }
ul.contact li a.icon-facebook:before { background: #39599F; }
ul.contact li a.icon-dribbble:before { background: #C4376B; }
ul.contact li a.icon-tumblr:before { background: #31516A; }
ul.contact li a.icon-rss:before { background: #F2600B; }

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button {
  display: inline-block;
  margin-top: 2em;
  padding: 1em 2em 1em 2em;
  background: #8dc63f;
  letter-spacing: 0.20em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.90em;
  color: #FFF;
}

.button:before {
}
  
/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

.boxA, .boxB, .boxC {
  padding: 2em 0 0 0;
  width: 32vw;
  text-align: center;
}

.boxA h2, .boxB h2, .boxC h2 {
  margin-bottom: 1em;
  font-weight: 600;
  font-size: 1.6em;
}

.boxA h2 a, .boxB h2 a, .boxC h2 a {
  text-decoration: none;
}

.boxA p, .boxB p, .boxC p {
  padding: 0em 1.5em;
}

.boxA, .boxB {
  float: left;
  margin-right: 2vw;
}

.boxC {
  float: right;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header {
  position: relative;
  padding: 3em 0em;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo {
  position: absolute;
  top: 1em;
  left: 2em;
}

#logo h1 {
}

#logo h1 span.fa {
  padding-right: 1.5em;
}

#logo a {
  text-decoration: none;
  color: #8dc63f;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu {
  position: absolute;
  top: 2.8em;
  right: 1em;
  max-width: 70vw;
}

#menu ul {
  display: inline-block;
}

#menu li {
  display: block;
  float: left;
  text-align: center;
}

#menu li:before {
  content: "|";
  padding: 1em 1em;
  font-weight: 700;
  color: rgba(0,0,0,.1);
}

#menu li a, #menu li span {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
  color: rgba(0,0,0,.4);
}

#menu li:hover a, #menu li.active a, #menu li.active span {
  color: rgba(0,0,0,.6);
}

#menu .current_page_item a {
  color: rgba(0,0,0,.8);
}

#menu .icon {
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#page {
  position: relative;
  overflow: hidden;
  padding: 2em 0 0 0;
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

#content {
  clear: both;
  font-size: 1.4em;
  padding: 2em 3vw 0 3vw;
}

#content>p, #content>h2 {
  margin-top: 0;
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

#sidebar {
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer {
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright {
  overflow: hidden;
  padding: 5em 0em;
}

#copyright p {
  letter-spacing: 0.20em;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.80em;
  color: rgba(0,0,0,0.6);
}

#copyright a {
  text-decoration: none;
  color: rgba(0,0,0,1);
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

#featured {
  overflow: hidden;
  padding: 2em 0 3em 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

#featured .align-left {
  background: url(DSC_5380.jpg) no-repeat 20%;
  background-size: cover;
  text-align: center;
}

#featured .align-right {
  font-size: 1.4em;
  padding: 0 3vw 0 3vw;
}

#featured .align-left.team {
  background: url(DSC_2393.jpg) no-repeat 45%;
  background-size: cover;
}

#featured .align-left.about {
  background: url(DSC_5981.jpg) no-repeat 30%;
  background-size: cover;
}

#featured .align-left {
  float: left;
  width: 46vw;
  height: 50vw;
  margin-right: 1vw;
}

#featured .align-right {
  float: right;
  width: 47vw;
}

#featured .fa {
  font-size: 14em;
  color: #8dc63f;
}

#featured .fa.normal {
  font-size: 1em;
}

#featured .align-right p, #featured .align-right h2 {
  margin-top: 0;
}

#featured ul.ddd>li {
  padding: .5em 0 0 0;
  text-align: right;
  line-height: 1.6em;
  width: 100%;
  border-bottom: 1px dotted #ddd;
  font-size: 1.2em;
  font-style: italic;
}

#featured ul.ddd>li:before {
  content: '→ ';
  font-weight: 900;
  color: #8dc63f;
}

#featured .above {
  padding-top: 1em;
}

.box {
  margin-bottom: 2em;
}

.box span {
  margin: 0;
  padding: 1em .5em;
  background: #8dc63f;
  display: block;
  line-height: 3em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2em;
  color: #FFF;
}

#featured .pr-fb {
  width: 100%;
  height: 30vh;
  background-size: cover;
}

#featured .pr-fb.lidi {
  background: url(lidi.jpg) no-repeat 30%;
}

#featured .pr-fb.kultura {
  background: url(kultura.jpg) no-repeat 30%;
}

#featured .pr-fb.zvirata {
  background: url(zvirata.jpg) no-repeat 30%;
}

#featured .pr-fb.vzdelani {
  background: url(vzdelani.jpg) no-repeat 30%;
}

#featured .pr-fb.program {
  background: url(DSC_5578.jpg) no-repeat 30%;
}

/*********************************************************************************/
/* dond.cz                                                                       */
/*********************************************************************************/

p~ul.circle {
  margin-top: 0;
}

ul.circle {
  list-style: circle outside;
  padding-left: 2em;
}

ul.circle>li.lower {
  margin-top: .5em;
}

ul.dots {
  list-style: none inside;
  margin-top: 0;
}

ul.dots li:before {
  content: '… ';
}

ul.after {
  padding-bottom: 1em;
}

ul>li.delim {
  border-top: dotted 1px #ddd;
  border-bottom: dotted 1px #ddd;
  padding-bottom: .1em;
  margin-bottom: 1em;
}

p.quote, div.box~p, p.quote+p {
  background-color: rgba(141,198,63,.03);
  padding: 1em;
}

p.quote {
  font-style: italic;
}

p.quote+p {
  margin-top: 0px;
}

ul.image-team li {
  clear: left;
}

ul.image-team>li img {
  clear: left;
  float: left;
  padding-right: 1em;
  margin-bottom: 1em;
}

ul.image-team~p {
  clear: left;
  text-align: center;
}

span.social {
  display: inline-block;
  position: absolute;
  height: 35px;
  width: 120px;
  z-index: 100;
  background-image: url("social.png");
  background-size: cover;
}

.rotate-move {
  transform: rotate(335deg) translate(-0.6em,-.2em);
}

.rotate-move-up {
  transform: rotate(335deg) translate(0.5em,-0.5em);
}

.mid {
  text-align: center;
}

.wrapper {
  width: 100%;
  display: table;
}

.col {
  display: table-cell;
}

/* responsiveness */

@media only screen and (max-width: 840px) {
  body {
    font-family: sans-serif; /* avoid unlocalized mobile fonts :-/ */
  }

  #header {
    padding: 0;
  }

  #logo {
    position: static;
    padding: 0 2em;
  }

  #menu {
    position: static;
    display: block;
    float: right;
    width: auto;
    max-width: 100%;
    padding-right: 2em;
  }

  #menu li:before {
    padding: 1em 1.5em;
  }

  #featured {
    float: none;
    padding: 0 0 1em 0;
  }

  #featured .align-left {
    display: block;
    float: none;
    height: 33vw;
    width: 100%;
  }

  #featured .align-right {
    display: block;
    float: none;
    width: auto;
    padding: 1em 3vw;
    margin: 0;
    font-size: 1em;
  }

  span.social.rotate-move-up {
    display: none;
  }

  #content {
    padding-top: 0;
    font-size: 1em;
  }
}
